@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 16px;
}

/*.container {
	display: flex;
	width: 100vw;
	height: 100vh;
}*/

.left {
	background-color: #330033;
	color: green;
}

.channel-top {

}

.contents {
	background-color: white;
	flex: 1;
	color: black;
	margin-bottom: 20%;
}

.roomlist-name{
	text-decoration: none;
	color: green;
	font-size: 20px
}