@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 16px;
}

.container-fluid {
    margin-top: 5px;
    margin-bottom: 4%;
}

.left {
	background-color: #330033;
	color: green;
    margin-bottom: 80%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    display: block;
    overflow-x: hidden;
    overflow-y: auto
}

.channel-top {

}

.contents {
	background-color: white;
	flex: 1;
	color: black;
	margin-bottom: 20%;
}

.roomlist-name{
	text-decoration: none;
	color: green;
	font-size: 20px
}
.sidber{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    display: block;
    overflow-x: hidden;
    overflow-y: auto
}